.image {
	width: 250px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-top: 5px;
	margin-right: 5px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .3);

	img {
		width: 100%;
		height: auto;
		flex-shrink: 0;
	}
}
