.playerWrapper {
	display: flex;
	align-items: center;
	position: relative;

	.button {
		margin-right: 15px;
	}

	.time {
		position: absolute;
		left: 30px;
		top: 30px;
		font-size: 10px;
	}

	.slider {
		width: 100px;
	}
}